<label ng-hide="input.parentType === 'array'" for="{{input.scope}}_null_key">Key :</label>
<input ng-hide="input.parentType === 'array'" ng-blur="checkKey(input.scope)" ng-focus="saveOldKey(input.scope)" ng-key-model=":{{input.scope}}:" ng-change="deleteOldKey(input.scope)" type="string" name="{{input.scope}}_null_key" placeholder="your key">
<label for="{{input.scope}}_null_value">value :</label>
<input ng-value-model=":{{input.scope}}:" type="string" name="{{input.scope}}_null_value" placeholder="null" ng-value="undefined" disabled>
